#root {
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
}


.navbarStyle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: "#fff";
  border-bottom: 2px solid #388E3C;
}

.headingStyle{
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.buttonStyle{
  padding: 10px 20px;
  font-size: "1rem";
  background-color: #fff;
  color: #4CAF50;
  border: "none";
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

}
